body{
    background-image: url("https://img-s1.onedio.com/id-5e202c0640856f4d10754b69/rev-0/w-600/h-400/f-jpg/s-c43339b00747d34d2b2a7eef283e67a90c6b6e29.jpg");
    margin: 0;
    overflow: hidden;
}
.navbar{
    position: absolute;
}
header{
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    height: 5em;
    width: 100%;
}
header nav {

    background-color: rgb(49, 83, 94);
    height: 100%;
    width: 100%;

}

header nav ul {
    height: 100%;
    width: 100vw;
    display: flex;
 
    justify-content: center;
    align-items: center;
}

header nav ul li {
    /* display: inline-flex; 
    /* align-items:center; */
    list-style: none;
    height: 100%;
    /* padding: 0 20px; */

   
    font-size: 30px;
}

header nav ul li a {
    padding: 0 20px 0 0;
    height: 100%;
    width: 100%;

    color: #22252c	;
    text-decoration: none;
    font-size: 1.2em;

    transition: background-color 0.2s linear;
}

header nav ul li a:hover {
    color:#F6F1D5 ;
}

summary{
    font-family: 'Satisfy', cursive; /*pour changer le font style*/
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(5, 1fr); 
}


.container>p {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end:-1;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(176, 172, 199));
    place-content: center;
    padding: 2px;
    font-size: 30px;
    color: black;
    display: block;
    
    
}