body{
    background-color: black;
}

header nav {
    position: fixed;
    left: 0;
    top: 0;

    background-color: lightblue;
    height: 50px;
    width: 100%;
}

header nav ul {
    height: 100%;
    display: inline-block;
    margin-top:1px; 
}

header nav ul li {
    display: inline-block;
    /* display: inline-flex; 
    /* align-items:center; */

    height: 100%;
    /* padding: 0 20px; */

   
    font-size: 30px;
}

header nav ul li a {
    padding: 0 20px;
    height: 100%;

    display: flex;
    align-items: center;

    color: #F7E35F	;
    text-decoration: none;
    font-size: 1.2em;

    transition: background-color 0.2s linear;
}

header nav ul li a:hover {
    background-color:white;
}

summary{
    font-family: 'Satisfy', cursive; /*pour changer le font style*/
}

.navbar{
    position: absolute;
    left:890px ;
}

p {
    font-size: 30px;
    color: white;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}